<div
  class="prose prose-neutral max-w-none prose-headings:scroll-mt-24 prose-headings:tracking-normal prose-a:text-[#34413e] prose-a:underline-offset-4 prose-code:rounded prose-code:border prose-code:border-[#deded8] prose-code:bg-white prose-code:px-1 prose-code:py-0.5 prose-code:font-semibold prose-code:before:content-none prose-code:after:content-none prose-pre:border prose-pre:border-[#deded8] prose-pre:bg-[#111214] prose-blockquote:border-l-[#34413e]"
>
  <slot />
</div>
